.content__appeal {
    position: relative;
    height: 863px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    background: rgba(253, 248, 248, 100);
    padding: 20px 50px;
    align-items: center;
}

.content__appeal__title-bottom {
    color: #0078fb;
}

.content__appeal__quote {
    display: block;
    margin: 0 auto;
    width: 1082.89px;
}

.content__appeal__title {
    display: block;
    font-size: 44px;
    margin: 0 auto;
}

.content__appeal__photo {
    height: 495px;
    width: 36%;
    float: left;
}

.content__appeal__comment {
    font-size: 25px;
    float: right;
    width: 60%;
    box-sizing: border-box;
    padding-left: 40px;
}

.content__appeal__quotes-bottom {
    margin-left: 334px;
}

.content__appeal__initials {
    font-size: 33px;
    font-weight: bold;
    color: #414040;
}

.content__appeal__position {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
}
