.wrap {
    width: 1170px;
    padding: 15px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    background: url('../img/bg-header.jpg') center top no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    color: #333;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
    padding: 40px;
    font-weight: 500;
    clear: left;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 100vh;
  list-style: none;
}

.menu .nav__items {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
  

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .nav__items {
	position: relative;
	list-style: none;
}
.nav .nav__items a {
	position: relative;
	width: 100px;
	height: 40px;
	display: block;
	color: tomato;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
  text-transform: uppercase;
	transition: .5s;
	box-sizing: border-box;
}
.nav .nav__items a span {
	position: absolute;
	width: 25%;
	height: 100%;
	background-color: tomato;
	z-index: -1;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform .5s;
}
.nav .nav__items a:hover {
	color: #fff;
	text-decoration: none;
}
.nav .nav__items a:hover span {
	transform-origin: bottom;
	transform: scaleY(1);
}
.nav .nav__items a span:nth-child(1) {
	left: 0;
	transition-delay: 0s;
}
.nav .nav__items a span:nth-child(2) {
	left: 25%;
	transition-delay: 0.15s;
}
.nav .nav__items a span:nth-child(3) {
	left: 50%;
	transition-delay: 0.3s;
}
.nav .nav__items a span:nth-child(4) {
	left: 75%;
	transition-delay: 0.45s;
}
