.header {
    position: relative;
    line-height: 1;
}

.header__wrap {
    width: 1170px;
    margin: 0 auto;
    background: rgba(253, 248, 248, 80%);
    padding: 20px 50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__tell {
    font-size: 36px;
    color: #333333;
    text-align: right;
}

.contacts__mail {
    color: #666666;
}

.header-center {
    display: flex;
    justify-content: space-between;
    height: 450px;
    align-items: center;
}

.text-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    line-height: 1.5;
}

.text-content__text-1 {
    position: relative;
    font-weight: bold;
    font-size: 43px;
    color: #333;
    z-index: 1;
    margin: 5px 0 !important;
}

.text-content__text-2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    color: #333;
    z-index: 1;
    margin: 0 0;
}