.header {
    position: relative;
    height: 970px;
}

.header__wrap {
    width: 1170px;
    margin: 0 auto;
    background: rgba(253, 248, 248, 50%);
    padding: 50px;
}


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.contacts__tell {
    font-size: 36px;
    color: #333333;
    text-align: right;
}

.contacts__mail {
    color: #666666;
 }


.header-center {
    display: flex;
    justify-content: space-around;
    height: 520px;
    align-items: center;
}

.header-indent {
    margin: 15px 0;
}

.text-content  {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
} 


.text-content__text-1 {
    
    position: relative;
    font-weight: bold;
    font-size: 43px;
    color: #333;
    z-index: 1;
    }

    .text-content__text-2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    color: #333;
    z-index: 1;
}
.text-content__text-3 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    color: #333;
    z-index: 1;
    }


