.price-list {
    color: #333;
    font-size: 35px;
    text-decoration: none;
}

.fa-print:hover:after {
    content: 'скачать прайс-лист';
    font-size: 20px;
}


table {
    position: relative;
    width: 720px;
    border-collapse: collapse;
    color: #333;
    font-weight: lighter !important;
    text-align: center;
    border-spacing: 2px;
    font-family: "Lucida Sans Unicode" !important;
    background: rgba(255, 255, 255, 65%);
    
}

.table__style-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .caption__top {
    border-left: none;
    color: #396ec6;
  }

  td {
    padding: 5px;
    padding-right: 10px;
     }

  .row-1__border {
      border-bottom: 1px solid #396ec6;
      border-top: 1px solid #396ec6;
      color: #396ec6;
      font-weight: 850;
  }

  .row-1__border--bottom {
    border-bottom: 1px dotted #396ec6;
  }
 
  
  th {
    padding: 3px;
    font-weight: lighter !important;
    border: none;
     }
    
  
  .caption {
    margin-bottom: 10px;
    font-size: 18px;
    border-left: none;
    border-right: none;
    color: #333;
  }

  .row2 {
    font-size: 12px;
    color: #333;
      }

