.body__1 {
    background: url('img/setka-rabitsa-fon.jpg') center no-repeat;
    width: 100%;
    height: 396px;
    box-sizing: border-box;
    margin-bottom: 30px;
}


.range h1 {
text-align: center;
font-size: 48px;
color: #333333;
margin: 0 !important;
}