.header__contact__form {
    display: inline-block;
    border: 3px solid rgba(49, 48 ,46, 30%);
    width: 434px;
    height: 570px;
    background: none;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    margin-left: auto;
    }
.header__contact__form::before {
        content: "";
        background: #ffffff;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        opacity: 0.2;
        position: absolute;
        z-index: 0;
    }

    .header__contact__form .pageFormHeader p {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 13px;
        }
  
    .header__contact__form .pageFormContant {
        position: relative;
        }
        .header__contact__form .pageFormContant .pageformlabel {
            display: inline-block;
            width: 372px;
            margin-bottom: 13px;
            border-radius: 10px;
        }
        .header__contact__form .pageFormContant .pageformlabel:last-child {
            margin-bottom: 0;
        }

        .header__contact__form .pageFormContant .pageformlabel .pageformtitle {
            display: block;
            font-size: 14px;
            position: relative;
            bottom: -15px;
                   }
        .header__contact__form .pageFormContant .pageformlabel input[type='text'] {
            height: 73px;
            width: 372px;
            border: 2px solid #649ad6;
            box-sizing: border-box;
            padding: 0 10px;
            line-height: 73px;
            border-radius: 10px;
        }
        .header__contact__form .pageFormContant .pageformlabel .PageFormButton {
            background: #649ad6;
            height: 73px;
            width: 372px;
            font-size: 30px;
            color: #ffffff;
            border: 2px solid rgba(49, 48 ,46, 30%);
            cursor: pointer;
            text-align: center;
            margin-top: 45px;
            border-radius: 10px;
        }