
.container {
    max-width: 100%;
    max-width: 1920px;
    background: #555555;
}

.wrap {
    max-width: 1170px;
    padding: 15px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    }
