.footer__contact__form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border: 3px solid rgba(49, 48, 46, 30%);
    padding: 15px;
    background: none;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    z-index: 2000;
    border-radius: 10px;
    vertical-align: middle;
    object-fit: cover;
    top: 70px;
    left: 160px;
}

.footer__contact__form::before {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;
    position: absolute;
    z-index: 0;
}

.footer__contact__form .pageFormHeader p {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 13px;
}

.footer__contact__form .pageformlabel {
    display: inline-block;
    margin-bottom: 13px;
    border-radius: 10px;
}

.footer__contact__form .pageformlabel:last-child {
    margin-bottom: 0;
}

.footer__contact__formb.pageformlabel .pageformtitle {
    display: block;
    font-size: 14px;
    position: relative;
    bottom: -15px;
}

.footer__contact__form .pageformlabel input[type='text'] {
    height: 50px;
    width: 299px;
    border: 2px solid #649ad6;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 73px;
    border-radius: 10px;
}

.footer__contact__form .PageFormButton {
    background: #649ad6;
    height: 50px;
    width: 299px;
    font-size: 25px;
    color: #ffffff;
    border: 2px solid rgba(49, 48, 46, 30%);
    cursor: pointer;
    text-align: center;
    margin-top: ;
    border-radius: 10px;
}